{% extends 'blog/base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block main_class %}page-content{% endblock %}

{% block content %}
<form method="post" class="login">
    {% csrf_token %}
    <label for="id_username">Username</label>
    {{ form.username }}
    
    <label for="id_password">Password</label>
    {{ form.password }}
    
    <p>Don't have an account? <a href="{% url 'register' %}">Create one here</a></p>
    <button type="submit" class="btn btn-success">Login</button>
</form>
{% endblock %}